@use "../base/index" as *;

aside {
  height: fit-content;
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  @include position(sticky, $t: 9.5rem, $z: 10);
  @include flex($ff: column, $g: 2rem);
  box-shadow: 0.25rem 0.25rem 0.5rem #0000004d;
  color: #fff;
  transform-origin: center top;
  transition: transform 0.75s 0.5s;
  h1 {
    font-size: 2rem;
    text-align: center;
    cursor: default;
  }
  ul {
    @include flex($ff: column, $g: 1rem, $ai: center);
    font-size: 1.25rem;
    li {
      width: 10rem;
      line-height: 3;
      position: relative;
      z-index: 1;
      text-align: center;
      @include gooey;
      @include flex($jc: center, $ai: center);
      a {
        color: #fff;
        opacity: 0.8;
        transition: opacity 0.5s;
      }
      &::after {
        content: "";
        @include position($t: 0, $l: 0, $z: -1);
        pointer-events: none;
        width: 100%;
        height: 100%;
        border-bottom: 2px solid #fff;
        transform: scaleX(0);
        transition: transform 0.5s ease-in-out;
      }
      &.active {
        letter-spacing: 0.1rem;
        a {
          cursor: default;
          opacity: 1;
          pointer-events: none;
        }
        &::after {
          transform: scaleX(1);
        }
      }
      &:hover {
        a {
          opacity: 1;
        }
        &::after {
          transform: scaleX(1);
        }
      }
    }
  }
  @starting-style {
    transform: scaleY(0);
  }
  @include rwd_down(desktop) {
    width: 80%;
    backdrop-filter: blur(1rem);
    gap: 0.5rem;
    ul {
      flex-direction: row;
      justify-content: space-evenly;
      li{
        line-height: 2;
      }
    }
  }
  @include rwd_down(tablet) {
    width: 90%;
  };
}
